@remvw: 1366 / 100vw;

#app {
  width: 100%;
  height: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  // 标题
  h1 {
    color: #303133;
  }
  // 导航栏
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADAD;
    .toItem {
      width: 5%;
      display: flex;
      // router-link
      a {
        height: 100px;
        // margin: 0 10px 0 10px;
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
        &.router-link-exact-active {
          color: #409eff;
          border-bottom: 2px solid #409eff;
        }
      }
    }
  }
}